body {
    color: white;
    background-image: url("../img/Fundo2.avif");
    background-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(15, 14, 14);
    padding: 10px;
    align-items: center;
    box-shadow: 0px 2px 20px rgb(255, 255, 255);
}

header li{
    transition: 0.3s;
}

header li:hover{
    font-size: +25px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

}

header ul a {
    color: white;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-image: linear-gradient(to right, 
    rgb(0, 0, 0),
    rgba(22, 22, 22, 0.6),
    rgba(39, 37, 39, 0.7),
    rgba(39, 37, 39, 0.7),
    rgba(22,22,22,0.6),
    rgb(0, 0, 0));
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 14, 14);
    padding: 10px;
    bottom: 0px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}